---
import Layout from '../layouts/Layout.astro'
---

<Layout title="BIMCapacitacion" description='Cursos de Revit para ti'>
	<main class="notFoundPage">
not found
	</main>
</Layout>


<style>
  .notFoundPage{
  padding: 0 120px;
}
</style>
