---
import Layout from '../layouts/Layout.astro';
import AboutUs from '../sections/AboutUs.astro';
import CourseList from '../sections/CourseList.astro';
import Hero from '../sections/Hero.astro';
import PostList from '../sections/PostList.astro';
---

<Layout title="Welcome to Astro.">
	<main>
    <Hero/>
    <AboutUs/>
    <CourseList/>
    <PostList/>
	</main>
</Layout>

<style>
	main {

	}

</style>
