---
import Layout from '../layouts/Layout.astro';
import AboutUs from '../sections/AboutUs.astro';
import ContactUs from '../sections/ContactUs.astro';
import CourseList from '../sections/CourseList.astro';
import Hero from '../sections/Hero.astro';
import PostList from '../sections/PostList.astro';
---

<Layout title="BIMCapacitacion" description='Cursos de Revit para ti'>
	<main>
    <Hero/>
    <AboutUs/>
    <CourseList/>
    <PostList/>
    <ContactUs/>
	</main>
</Layout>

<style>
	main {

	}

</style>
