---
import Layout from "../layouts/Layout.astro";
import ContactUs from "../sections/ContactUs.astro";
---

<Layout title="Tutoriales" description="Tutoriales para ti.." >
  <main>
    <h1>BIMCapacitacion Tutoriales</h1>

    <ContactUs/>
  </main>
</Layout>
