<section class="AboutUs">
  <div class="question">
    <div class="paralaxImg1"></div>
    <div class="textBox">
      <h2>Que es BIM ...?</h2>
      <p>
        Iniciemos con que es un acrónimo de "Building Information Modeling" o
        "Modelado de Información de Edificación". <br />
        BIM es un proceso que utiliza software especializado{" "}
        <b>Revit en este caso</b> para crear un modelo digital de un edificio o estructura,
        y es ampliamente utilizado en la industria de la construcción y el diseño.
        El modelo BIM incluye información detallada sobre la geometría, la ubicación,
        la cantidad y el tipo de materiales necesarios, así como otros aspectos importantes
        del proyecto de construcción. <br />
        Esta información se puede utilizar para visualizar y analizar el proyecto
        de manera más eficiente, minimizar los errores y mejorar la eficiencia y
        el rendimiento durante el proceso de construcción. Además, el modelo BIM
        se puede utilizar para facilitar la colaboración entre diferentes disciplinas
        y equipos involucrados en el proyecto de construcción.
      </p>
    </div>
  </div>
  <div class="question">
    <div class="textBox">
      <h2>Que es BIMCapacitacion ...?</h2>
      <p>
        BIMCapacitacion es una escuela con cursos enfocados en la metodología
        BIM, nuestra especialidad está en capacitar a tu equipo o empresa en la
        aplicación de la metodología BIM. Iniciando con un modelo funcional del
        cual tomes planos, cortes, detalles, cuantificaciones, elabores planos y
        logres una coordinación con otras disciplinas y proyectistas. <br /> Nuestros
        cursos son desde cero hasta el plotter!
      </p>
    </div>
    <div class="paralaxImg2"></div>
  </div>
</section>

<style>
  .AboutUs {
    padding: var(--global-padding);
    max-width: 1440px;
    margin: 0 auto;
  }
  .question {
    width: 100%;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    color: black;
  }
  .textBox {
    width: 100%;
    margin: 40px auto;
    padding: 0 20px;
  }
  .paralaxImg1 {
    min-width: 300px;
    width: 100%;
    height: 400px;
    /* background-color: blueviolet; */
    background-image: url("../assets/img/ImageRevitStructure.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-attachment: fixed;
    background-position: right;
    min-height: 500px;
  }
  .paralaxImg2 {
    width: 100%;
    height: 400px;
    background-image: url("../assets/img/isometrico.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-attachment: fixed;
    background-position: left;
    min-height: 300px;
  }

  /* @media screen and (max-width: 1400px) {
  }
  @media screen and (max-width: 1200px) {
  }
  @media screen and (max-width: 992px) {
  }

  @media screen and (max-width: 768px) {
  } */
  @media screen and (max-width: 576px) {
    .paralaxImg1 {
      background-size: 100%;
    }
    .paralaxImg2 {
      background-size: 100%;
    }
    .question {
      flex-direction: column-reverse;
    }
    .textBox {
      padding: 0;
    }
  }
</style>
