---
// import { Image } from "astro:assets";
// import LogoTransparente from "../assets/img/1Logo-BIM-Capacitacion-transparente.png";
import RevitModel from "../components/RevitModel";
// import {leModel} from '../assets/gltfModel/test1.gltf';
---

<section class="CourseList">
  <div class="seccion-listado">
    <div class="listado-cursos">
      <h2>Cursos Presenciales Revit</h2>
      <ul>
        <li>
          <a href="/temario/curso-basico">✅ Curso Revit Basico</a>
        </li>
        <li>
          <a href="#">✅ Curso Revit Arquitectonico</a>
        </li>
        <li>
          <a href="#">✅ Curso Revit Estructural</a>
        </li>
        <li>
          <a href="#">✅ Curso Revit MEP</a>
        </li>
        <li>
          <a href="#">✅ Curso Navisworks Basico</a>
        </li>
        <li>
          <a href="#">✅ Curso Revit + Navisworks</a>
        </li>
      </ul>
    </div>
    <div class="listado-cursos-img">
      <!-- <Image src={LogoTransparente} alt="" width={500} height={300} /> -->
      <RevitModel client:load />
    </div>
  </div>
</section>

<style>
  .CourseList {
    padding: var(--global-padding);

    /* width: 100%; */
    /* max-width: 2000px; */
    background-color: #efefef;
  }

  .seccion-listado {
    color: #a0a0a0;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .listado-cursos {
    width: 50%;
    ul{
          padding: 0;

        }
  }

  .listado-cursos li {
    font-size: 20px;
    margin: 20px 30px;
    list-style: none;
    text-decoration: none;
  }

  .listado-cursos-img {
    width: 50%;
    margin: 50px 0;
  }

  .listado-cursos-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  /* @media screen and (max-width: 1400px) {
  }
  @media screen and (max-width: 1200px) {
  }
  @media screen and (max-width: 992px) {
  } */

  @media screen and (max-width: 768px) {
    .listado-cursos li {
    margin: 20px 0;
  }
  }
  @media screen and (max-width: 576px) {
    .seccion-listado {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .listado-cursos{
        width: 100%;

        ul{
          padding: 0 20px;
        }
      }
      .listado-cursos-img{
        width: 100%;
        margin: 0;
      }
    }
  }
</style>
