---
import { Image } from "astro:assets";
import LogoTransparente from "../assets/img/1Logo-BIM-Capacitacion-transparente.png";
---

<section class="CourseList">
  <div class="seccion-listado">
    <div class="listado-cursos">
      <h2>Cursos Presenciales Revit</h2>
      <ul>
        <li>
          <a href="#">✅ Curso Revit Basico</a>
        </li>
        <li>
          <a href="#">✅ Curso Revit Arquitectonico</a>
        </li>
        <li>
          <a href="#">✅ Curso Revit Estructural</a>
        </li>
        <li>
          <a href="#">✅ Curso Revit MEP</a>
        </li>
        <li>
          <a href="#">✅ Curso Navisworks Basico</a>
        </li>
        <li>
          <a href="#">✅ Curso Revit + Navisworks</a>
        </li>
      </ul>
    </div>
    <div class="listado-cursos-img">
      <Image src={LogoTransparente} alt="" width={500} height={300} />
    </div>
  </div>
</section>

<style>
  .CourseList {
    padding: var(--global-padding);

    /* width: 100%; */
    /* max-width: 2000px; */
    background-color: #efefef;
  }

  .seccion-listado {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .listado-cursos {
    width: 50%;
  }

  .listado-cursos li {
    font-size: 20px;
    margin: 20px 30px;
    list-style: none;
  }

  .listado-cursos-img {
    width: 50%;
    margin: 50px 0;
  }

  .listado-cursos-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }


</style>
