---
import { Image } from "astro:assets";
import carTest from "../assets/img/COMO DESCARGAR E INSTALAR REVIT 2020.jpg";
import PostCard from "../components/PostCard.astro";
import {getCollection } from 'astro:content'

const tutorialesEntries = await getCollection('tutoriales')
---

<section class="PostList">
  <h2>Mira nuestros Tutoriales</h2>
  <div class="PostListGroup">
    {
      tutorialesEntries &&
        tutorialesEntries.map((element: any) => {

          return <PostCard  dataCard={element}/>

        })
    }
  </div>
</section>

<style>
  .PostList {
    padding: var(--global-padding);
    max-width: 1440px;
    margin: 50px auto 20px;
  }
  .PostListGroup {
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
</style>
