---
import { Image } from "astro:assets";
import carTest from "../assets/img/COMO DESCARGAR E INSTALAR REVIT 2020.jpg"
import PostCard from "../components/PostCard.astro";
---

<section class="PostList">
  <h2>Mira nuestros Tutoriales</h2>
  <div class="PostListGroup">

    <PostCard/>
    <PostCard/>
    <PostCard/>
  </div>

</section>

<style>
  .PostList{
  padding: var(--global-padding);

  }
  .PostListGroup{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
</style>
