---
import { Image } from "astro:assets";
import imgTemario from "../../assets/img/IsometricoDepartamentos.jpg";
import Layout from "../../layouts/Layout.astro";
import ContactUs from "../../sections/ContactUs.astro";
---

<Layout title="Tutoriales" description="Tutoriales para ti..">
  <main>
    <div class="pageTitle">
      <h1>Temario Curso Revit Arquitectonico</h1>
    </div>

    <section class="content">
      <div class="text-content">
        <div class="text-frame">
          <h3>Introducción</h3>
          <p>
            Mostrar la tecnología de modelado BIM a través de la aplicación de
            Autodesk Revit, orientada al control de información de una
            edificación, de manera que los alumnos puedan formarse una visión
            del programa y conocer su capacidad.
          </p>
          <h3>Objetivos</h3>

          <p>
            Descubrir las principales características y funciones de Autodesk
            Revit. Dominar las herramientas básicas de modelado del programa
            para elaborar cualquier tipo de proyecto de edificación y obtener
            documentación gráfica y tablas de cuantificación.
          </p>
          <h3>Temario</h3>
          <ol>
            <li>Templete Arquitectónico</li>
            <li>Crear y editar materiales y sus texturas</li>
            <li>Ubicaciones geográficas del proyecto, sombras y soleamiento</li>
            <li>
              Modelado de elementos compuestos arquitectónicos (‐Losas ‐Muros)
            </li>

            <li>Manejo y definición de espacios (cuartos y áreas)</li>
            <li>Creación de familias paramétricas.</li>
            <li>Creación de renders con Revit</li>
            <li>Creación de un recorrido virtual con Revit</li>
            <li>Manejo de Opciones de diseño</li>
            <li>Modelado a través de masas</li>
            <li>Importación o modelado de topografía</li>
            <li>Edición de familias descargadas de internet</li>
            <li>Creación de familias individuales desde cero</li>
            <li>Creación de familias in‐situ</li>
            <li>Parametrización de familias</li>
          </ol>
        </div>
      </div>
      <div class="img-content">
        <div class="img-frame">
          <Image
            src={imgTemario}
            alt="asdf"
            width={700}
            height={820}
            loading={"lazy"}
          />
        </div>
      </div>
    </section>
    <!-- <ContactUs /> -->
  </main>
</Layout>

<style>
  .content {
    margin: 50px 0;
    display: flex;

    .text-content {
      width: 50%;

      .text-frame {
        padding: 0 0 0 120px;
      }
      li {
        margin: 10px 0;
      }
    }
    .img-content {
      width: 50%;
    }
  }
</style>
