---
import { Image } from "astro:assets";
import imgTemario from "../../assets/img/IsometricoDepartamentos.jpg";
import Layout from "../../layouts/Layout.astro";
import ContactUs from "../../sections/ContactUs.astro";
---

<Layout title="Tutoriales" description="Tutoriales para ti..">
  <main>
    <div class="pageTitle">
      <h1>Temario Curso Revit Basico</h1>
    </div>

    <section class="content">
      <div class="text-content">
        <div class="text-frame">
          <h3>Introducción</h3>
          <p>
            Mostrar la tecnología de modelado BIM a través de la aplicación de
            Autodesk Revit, orientada al control de información de una
            edificación, de manera que los alumnos puedan formarse una visión
            del programa y conocer su capacidad.
          </p>
          <h3>Objetivos</h3>

          <p>
            Descubrir las principales características y funciones de Autodesk
            Revit. Dominar las herramientas básicas de modelado del programa
            para elaborar cualquier tipo de proyecto de edificación y obtener
            documentación gráfica y tablas de cuantificación.
          </p>
          <h3>Temario</h3>
          <ol>
            <li>Introducción BIM desde Revit</li>
            <li>Recorrido de interfaz del programa</li><li>
              Diferencia entre proyecto y familias
            </li>
            <li>
              Modelado de elementos constructivos (‐Losas ‐Muros ‐Puertas
              ‐Ventanas ‐Escaleras)
            </li>
            <li>
              Manejo de niveles y sus propiedades (‐Visibility and graphics
              ‐Underlay ‐View range ‐Crop view ‐Diciplinas)
            </li>
            <li>Manejo de elevaciones (‐vistas en corte ‐fachada)</li>
            <li>Manejo de vistas 3d (‐Isométrico ‐Fotografías)</li>
            <li>Insertar componentes</li>
            <li>Creación de componentes o familias</li>
            <li>Importación de referencias(‐Archivos de AutoCAD)</li>
            <li>
              Vinculación de referencias (‐Proyectos Revit‐Archivos de AutoCAD)
            </li>
            <li>Creación de detalles constructivos en sitio y hoja</li>
            <li>Creación de tablas</li>
            <li>Creación de leyendas</li>
            <li>Creación y modificación de pies de planos</li>
            <li>Creación y modificación de planos</li>
            <li>Exportar formatos CAD</li>
          </ol>
        </div>
      </div>
      <div class="img-content">
        <div class="img-frame">
          <Image src={imgTemario} alt="asdf" width={700} height={820} loading={'lazy'}/>
        </div>
      </div>
    </section>
    <!-- <ContactUs /> -->
  </main>
</Layout>

<style>
  .content {
    margin : 50px 0;
    display: flex;

    .text-content {
      width: 50%;

      .text-frame {
        padding: 0 0 0 120px;
      }
    }
    .img-content {
      width: 50%;
    }
  }
</style>
