---
import BaseHead from './BaseHead.astro';
import Footer from './Footer.astro';
import NavBar from './NavBar.astro';
interface Props {
	title: string;
  description:string
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <BaseHead title={title} description={description}/>
	<body>
    <NavBar/>
		<slot />
    <Footer/>
	</body>
</html>
<style is:global>
	:root {
    --global-padding: 0 100px;

    @media screen and (max-width:1400px){
    --global-padding: 0 100px;
    }
    @media screen and (max-width:1200px){
    --global-padding: 0 80px;
    }
    @media screen and (max-width:992px){
    --global-padding: 0 60px;
    }

    @media screen and (max-width:768px){
    --global-padding: 0 40px;
    }
    @media screen and (max-width:576px){
    --global-padding: 0 20px;
    }

	}
	html {
		font-family: system-ui, sans-serif;
    scroll-behavior: smooth;

	}
  body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
  }
  a{
    text-decoration: none;
    color: black;

  }
  li{
    text-decoration: none;
    color: black;

  }

  .pageTitle{
    width: 100%;

    display: flex;
    justify-content: center;
    margin: 0 auto;
  }
</style>
